.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.form textarea {
  margin-top: 10% !important;
  resize : none !important;
  width: 100% !important;
  height: 50vh !important;
}

.submenu:hover {
  background-color: #2098D1 !important;
  transition-property: left, right !important;
  transition-duration: 0.3s !important;
  transition-timing-function: ease-out !important;
}