.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.form textarea {
  margin-top: 10% !important;
  resize : none !important;
  width: 100% !important;
  height: 50vh !important;
}

.submenu:hover {
  background-color: #2098D1 !important;
  transition-property: left, right !important;
  transition-duration: 0.3s !important;
  transition-timing-function: ease-out !important;
}

.how-it-works {
  background-color: #000000;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 4em;
  padding-top: 4em;
  text-align: center;
  color: white;
}

.who-is-it-for {
  background-color:white;
  margin-top: 5%;
  margin-bottom: -10%;
  padding-bottom: 4em;
  padding-top: 4em;
  text-align: center;
  color: black;
}

.text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1:first-child {
  margin-bottom: 0px;
}

.footer-text{
  text-align: center;
  color : white;
}

.footer-div{
  padding-bottom: 2em;
  margin-bottom: 0px;
}

.footer-container {
  position: relative;
  width: 100%;
  bottom: -25vh;
  background-color: #3f51b5
}

.fa-heart {
  color: red; 
}

.ui.header {
  text-align: center;
}

.MuiAvatar-root {
  margin: 0 auto;
}

.MuiAvatar-colorDefault {
  color: #fafafa;
  background-color: #f50057 !important;
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: #3f51b5 !important;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  background-color: #3f51b5 !important;
}

.ui.form {
  position: relative;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

.text {
  width: 70%;
}